<div>
  <h1 class="text-primary">
    <small class="text-error"> [Angular] </small> Heroes App
  </h1>

  <div *ngIf="isAuthenticated">
    <a
      routerLink="/"
      class="bg-secondary text-light p-2 rounded"
      style="text-decoration: none;"
      >Dashboard</a
    >
    <a
      routerLink="/heroes"
      class="bg-secondary text-light p-2 ml-2 rounded"
      style="text-decoration: none;"
      >Heroes</a
    >

    <a
      routerLink="/asdadsadsadasdasdasdasd"
      class="bg-secondary text-light p-2 ml-2 rounded"
      style="text-decoration: none;"
      >404 Error</a
    >
    <a
      class="text-primary"
      style="float: right; cursor: pointer;"
      *ngIf="isAuthenticated"
      (click)="logout()"
    >
      Logout
    </a>
  </div>
</div>
