* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* You can add global styles to this file, and also import other style files */

$light: white;
$primary: #336699;
$secondary: #334953;
$success: #18c77b;
$error: #e35219;
$warn: #c29417;
$dark: #3d3d3d;

$container: 1200px;
$container-fluid: 100%;

$col_size: 8.333%;

$ListColors: ("light" $light), ("primary" $primary), ("secondary" $secondary),
  ("success" $success), ("error" $error), ("warn" $warn), ("dark" $dark);

$locations: ("left", "center", "right");

$displays: ("flex", "block", "inline-block");

$locationFlex: (start, center, end, space-between, space-around, space-evenly);

/** background and color */
@each $type, $color in $ListColors {
  .text-#{$type} {
    color: $color;
  }
}

@each $type, $color in $ListColors {
  .bg-#{$type} {
    background-color: $color;
  }
}

/** layout setting */

.container {
  width: $container;
  margin: 0 auto;
}

.container-fluid {
  width: $container-fluid;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.rounded {
  border-radius: 3.5px;
}

@each $col in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12) {
  .col-#{$col} {
    max-width: $col_size * $col;
    flex: 0 0 $col_size * $col;
    padding: 0 3.5px;
  }
}

@each $size in (auto, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10) {
  @if ($size != auto) {
    .pl-#{$size} {
      padding-left: 4px * $size;
    }

    .pr-#{$size} {
      padding-right: 4px * $size;
    }

    .pt-#{$size} {
      padding-top: 4px * $size;
    }

    .pb-#{$size} {
      padding-bottom: 4px * $size;
    }

    .p-#{$size} {
      padding: 4px * $size;
    }

    .ml-#{$size} {
      margin-left: 4px * $size;
    }

    .mr-#{$size} {
      margin-right: 4px * $size;
    }

    .mt-#{$size} {
      margin-top: 4px * $size;
    }

    .mb-#{$size} {
      margin-bottom: 4px * $size;
    }

    .m-#{$size} {
      margin: 4px * $size;
    }
  } @else {
    .pl-#{$size} {
      padding-left: $size;
    }

    .pr-#{$size} {
      padding-right: $size;
    }

    .pt-#{$size} {
      padding-top: $size;
    }

    .pb-#{$size} {
      padding-bottom: $size;
    }

    .p-#{$size} {
      padding: $size;
    }

    .ml-#{$size} {
      margin-left: $size;
    }

    .mr-#{$size} {
      margin-right: $size;
    }

    .mt-#{$size} {
      margin-top: $size;
    }

    .mb-#{$size} {
      margin-bottom: $size;
    }

    .m-#{$size} {
      margin: $size;
    }
  }
}

@each $type in $locations {
  .text-#{$type} {
    text-align: #{$type};
  }
}

@each $type in $displays {
  .d-#{$type} {
    display: #{$type};
  }
}

@each $type in $locationFlex {
  .justify-content-#{$type} {
    @if ($type == "start" or $type == "end") {
      justify-content: "flex-" + #{$type};
    } @else {
      justify-content: #{$type};
    }
  }

  .align-items-#{$type} {
    align-items: #{$type};
  }
}
